.container .bid {
    width: 50%;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    padding-right: 150px;
    .ant-form-item-control-input-content {
        display: flex;
        justify-content: space-evenly;
    }
    .auctionBlock {
        width: 80%;
        margin: 0 auto;
        margin-top: 80px;
    }
}
